{
	"eslintIntegration": true,
	"tslintIntegration": true,
	"trailingComma": "none",
	"singleQuote": false,
	"semi": true,
	"endOfLine": "auto",
	"useTabs": true,
	"tabWidth": 4,
	"quoteProps": "consistent",
	"jsxSingleQuote": false,
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"proseWrap": "always",
	"printWidth": 80
}
